
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 148, 148);

}
#main{
    height: 80%;
    width: 90%;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
h1{
    color: rgba(255, 255, 255, 0.343);
    font-size: 200px;
    font-weight: 900;
}


