/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}
.text-content{
    height: 100px;
    width: 100px;

}
h1{
    font-size: .8rem;
    color: aliceblue;
}
span{
    font-size: 1rem;
    color: #007bff;
}

