*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
 .cont{
    height: 100%;
    width: 100%;
 }
.elem{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    position: relative;
    // overflow: hidden;


}
    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
        mix-blend-mode: difference;
        opacity: 1;
        position: absolute;
       transform:translate(-50%,-50%);
       transition: linear 0.5S;
    }
    
    h1{
        text-transform: capitalize;
        font-size: 2.5rem;
        letter-spacing: 5px;
    }