@import "tailwindcss";
.feed-cont::-webkit-scrollbar {
  width: 4px;
}

.feed-cont::-webkit-scrollbar-track {
  background: transparent;
}

.feed-cont::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 999px;
}

.feed-cont::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
.feed-cont::-webkit-scrollbar {
  width: 2px;
}