// @font-face {
//     font-family: light;
//     src: url(./aonislink);
// } if you take outside font
:root {
    --primary-bgcolor: #111;
    --secondery-bgcolor: #fff;
    --palette-pri-color: #111844;
    --palette-sec-color: #4B5694;
    --palette-comp1-color: #7288AE;
    --palette-comp2-color: #EAE0CF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--palette-pri-color);
    color: var(--secondery-bgcolor);
}
nav{
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: var(--palette-comp1-color);
}
section.allElem{
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-around;
    overflow: auto;
    
}
.elem{
    color: var(--primary-bgcolor);
    background-color: var(--palette-comp2-color);
    border-radius: 2rem;
    height: 400px;
    width: 250px;
    overflow: hidden;
    position: relative;
    transition: all ease .5s;
}
    .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .elem h2{
        position: absolute;
        color: var(--palette-comp2-color);
        bottom: 5%;
        right: 5%;
        font-weight: 500;
        z-index: 1;
    }
    .elem:active{
        scale: (.75);
    }
    .full-page-elem{
        height: 100%;
        width: 100%;
        background-color: #4B5694;
        padding: 1rem;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .page-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .back-btn {
        background-color: #11111100;
        border: none;
        color: #111;
        font-size: 2rem;
        font-weight: 900;
        transition: all ease 1s;

    }
    .back-btn:active{
        color: #EAE0CF;

    }

.to-do-cont{
    margin-top: 1rem;
    height: 90%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    
}
.addtask{
    height: 100%;
    width: 70%;
    background-color: var(--palette-comp2-color);
    border-radius: 1rem;
    padding: 1rem;
   
    
    
}

.addtask form{
    background-color: var(--palette-sec-color);
    border: navajowhite;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    gap: 2rem;
     margin-top: 1rem;
   
   
}
.addtask input{
    background-color: var(--palette-pri-color);
    border: navajowhite;
    padding: 1rem;
    border-radius: 1rem;
        color: var(--palette-comp2-color);
    font-size: 1.2rem;
    text-transform: capitalize;

}
   .addtask input::placeholder {
  color: var(--palette-comp2-color);
}
textarea::placeholder {
  color: var(--palette-comp2-color);
}
button::placeholder {
  color: var(--palette-comp2-color);
}
  

.addtask textarea{
    background-color: var(--palette-pri-color);
    border: navajowhite;
    padding: 1rem;
      height: 350px;
      border-radius: 1rem;
          color: var(--palette-comp2-color);
    font-size: 1.2rem;
    text-transform: capitalize;
    max-width: 100%;
    max-height: 300px;
}
   

.addtask button{
    background-color: var(--palette-comp2-color);
    border: navajowhite;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    color: var(--palette-pri-color);
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 900;
}
.show-added-task{
      height: 100%;
    width: 30%;
    background-color: var(--palette-comp2-color);
   border-radius: 1rem;
   padding: 1rem;
   overflow: auto;
   

   
   
}
.show-added-task::-webkit-scrollbar {
    display: none;
}
.task{
    margin-top: 1.8rem;
 width: 100%;
 background-color:var(--palette-comp1-color);
 display: flex;
 padding: 1rem .5rem;
 border-radius: 1rem;
 justify-content: space-around;
 align-items: center;
 text-transform: capitalize;


button{
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    font-weight: 600;
    color: var(--palette-comp2-color);
    background-color: var(--palette-pri-color);
    border: 1px solid #EAE0CF;
    
}

}
.task-text{
    width: 50%;
}


.planner-cont{
    margin-top: 1rem;
    height: 90%;
    width: 100%;
    background-color: var(--palette-pri-color);
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

}

.plan-cont{
    font-size: .5rem;
    padding: 0rem 1rem;
    height: 10%;
    width: 45%;
    border: 2px solid var(--palette-comp2-color);
    border-radius: 1rem;

        margin: .5rem;
    
}

   .plan-cont input::placeholder {
  color: var(--palette-comp1-color);

   }
.add-plan-btn{
    padding: 1rem;
    background-color: #111844;
    border: none;
    border-radius: 1rem;
    color: #EAE0CF;
    font-weight: 500;
}
.btn-grp{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.add-plans-form-page{
    
    height: 30%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid var(--palette-comp2-color);
    border-radius: 1rem;
    padding: .5rem;
    display: none;
    gap: 1rem;
    z-index: 1000;
    
}
    .plan-back-btn {
        background-color: #11111100;
        border: none;
        color: #111;
        font-size: 1.5rem;
        font-weight: 900;
        display: flex;
        justify-self: flex-end;
        
    }
    .add-plans-form-page form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .2rem;

    }
    
            .input input{
            width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1;
            border: none;
        
        }
        .add-plans-form-page label{
            color: #111;
            font-weight: 500;
        }
        #add-plan-form-submit-btn{
            padding: .2rem 1rem;
            align-self: flex-end;
            margin: .5rem ;
            border: none;
            border-radius: 1rem;
        }
.plan-cont p{
    margin-top: .2rem;
    font-size: 1rem;
    background-color: #4B5694;
    padding: .2rem;
    border-radius: 1rem;
    text-align: center;
}

.motivation-full-page video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
 padding: .1rem;
    object-fit: cover;
    z-index: -1;
    border-radius: 1rem;

    
}
.motivation-full-page .back-btn{
    z-index: 99;
     color: #4B5694;
}
.quote-cont{
    position: relative;
    height: 50%;
    width: 50%;
    background-color: #4c4c4c83;
    backdrop-filter: blur(10px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 2rem;
   font-size: 5rem;
   font-weight: 700;
   
}
.icon-top{
    position: relative;
    width: 100%;
}
.ri-double-quotes-l{
    position: absolute;
    left: 0;
    

}
.icon-bottow{
   
    width: 100%;
    position: relative;
}
.ri-double-quotes-r{
    position: absolute;
    right: 40px;
    bottom: 40px;

    

}
.quote-text{
    font-size: 3rem;
}
.pomodoro-full-page{
    display: block;
}
.main-cont{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-cont{
    padding: 2rem;
    width: 50%;
    background-color: #687fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    h1{
        font-size: 9rem;
        color: #EAE0CF;
    }
}
.pomo{
    padding: .8rem 1.5rem;
    border-radius: .4rem;
    border: none;
    color: #EAE0CF;
    background-color: #111844;



}
.pomo-btn-group{

    display: flex;
    gap: 2rem;
}
.grp-arrowup{
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    font-weight: 900;
   

}
.grp-arrowdown{
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    font-weight: 900;
   

}