*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
 height: 100%;
 width: 100%;
 background-color: black;
 display: grid;
 border: 2px solid red;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
    border: 2px solid green;
}

aside{
    grid-row: 2/3;
    grid-column:1/2;
    background-color: #ffa6a6;
}

section{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #b00000;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #775757;
}


