*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
}
.page1{
    background-image: url("https://i.pinimg.com/originals/24/e1/b5/24e1b51dcfaf8b9d7aeb5d49e91be623.gif");
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    background-size: cover;
   
    
}
.nav-cont{
    display: flex;
    justify-content: center;
}
.nav{
    margin-top: 2.5rem;
    width: 90%;
    border-bottom: 2px solid rgba(186, 186, 186, 0.69);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    color: aliceblue;
    .logo{
        font-weight: 700;
        font-size: .8rem;

    }
a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    span{
        color: #414141;
        padding: .3rem;
        border-radius: 20px;
        background-color: #ffffff;
        font-weight: 700;
    }
}

}
.nav-left{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}
.tag-group{
    display: flex;
    gap: 5rem;
}
.nav-right .icon{
    height: 35px;
    width: 70px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    
    background-color: aliceblue;
    .inner-icon{
        margin-left: .5rem;
        height: 90%;
        width: 45%;
        border-radius: 50%;
        background-color: black;
    }
}
