@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    @include flexCenter();
    gap: 20px;
    section{
        height: 100%;
        flex-grow: 1; // inside parent all childs will try to cover all the space aval..
        background-color: aqua;
        
        transition: all 8s cubic-bezier(0.19, 1, 0.22, 1);

    }
    section:hover{
        flex-grow: 3;

    }
    section:nth-child(1){
        background-image: url("https://i.pinimg.com/736x/31/72/94/3172943688b1ff9ef1ddf766525b10db.jpg") ;
        background-size: cover;
    }
    section:nth-child(2){
        background-image: url("https://i.pinimg.com/736x/58/9e/e4/589ee46c90693e157dd842ff2e91eba8.jpg") ;
        background-size: cover;
    }
    section:nth-child(3){
        background-image: url("https://i.pinimg.com/736x/58/9e/e4/589ee46c90693e157dd842ff2e91eba8.jpg") ;
        background-size: cover;
    }
    section:nth-child(4){
        background-image: url("https://i.pinimg.com/736x/58/9e/e4/589ee46c90693e157dd842ff2e91eba8.jpg") ;
        background-size: cover;
    }
    section:nth-child(5){
        background-image: url("https://i.pinimg.com/736x/31/72/94/3172943688b1ff9ef1ddf766525b10db.jpg") ;
        background-size: cover;
    }
}
