*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}
main{
    width: 100%;

}
.view-1{
    padding: 1rem;
    width: 100%;
    img{
        width: 100%;


    }
}
@media(min-width:600px){
   
}